{"name":"expo-testing-sandbox","slug":"expo-testing-sandbox","version":"1.0.0","orientation":"portrait","icon":"./assets/icon.png","userInterfaceStyle":"light","splash":{"image":"./assets/splash.png","resizeMode":"contain","backgroundColor":"#ffffff"},"assetBundlePatterns":["**/*"],"ios":{"supportsTablet":true,"bundleIdentifier":"com.codingitwrong.expotestingsandbox"},"android":{"adaptiveIcon":{"foregroundImage":"./assets/adaptive-icon.png","backgroundColor":"#ffffff"}},"web":{"favicon":"./assets/favicon.png"},"extra":{"eas":{"projectId":"2566bc06-355b-4a0f-89d1-6bc038dfcee0"}},"sdkVersion":"48.0.0","platforms":["ios","android"]}